.about{
    max-width:900px;
    margin:0 auto 70px;
}

.about h2{
    font-size:34px;
    margin-bottom:25px;
    text-align:center;
    letter-spacing:1px;
}

.about p{
    font-size:18px;
    line-height:2;
    text-align:justify;
    margin-bottom:25px;
    color:#444;
}
